<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Productos</title>
</head>
<body>
    <br>
    <br>
    <div class="container">
       <div class="row"> 
        <div class="col-md-5 mx-auto">
            <div class="card">
                <div class="card-body">
                 <form action="/edit/{{producto.id}}" method="post">
                    <div class="form-group">
                        <label >Codigo Producto: </label>
                        <input type="text" value="{{producto.id}}" disabled class="form-control">
                     </div>
                    <div class="form-group">
                        <label>Nombre Producto:</label>
                         <input type="text" value="{{producto.Nombre}}" name="Nombre" class="form-control" placeholder="Nombre producto">
                      </div>
                      <div class="form-group">
                        <label>Precio Producto:</label>

                         <input type="number" value="{{producto.Precio}}" name="Precio" class="form-control" placeholder="Precio producto">
                      </div>
                      <div class="form-group">
                        <label>Stock:</label>
                        <input type="number" value="{{producto.Cantidad}}" name="Cantidad" class="form-control" placeholder="Cantidad producto">
                      </div>
                      <button type="submit" class="btn btn-info">Editar Producto</button>
                      <a href="/" class="btn btn-danger">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
          
       </div>
       </div>
</body>
</html>